html, body {
    position: absolute;
    background-color: #0d0d0d;
    margin: 0px 0px 0px 0px; /* 为什么不用绝对定位 body 位置会变 */
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

.ctlPanel {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 60px;
}

.ctlbtn {
    border: 3px solid #3c3c3c;
    color: #ecdebd;
    background-color: #252526;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 0 10px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

.ctlbtn:hover {
    background-color: #3c3c3c;
    color: #34d334;
}

.desc {
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #252526;
    color: #ecdebd;
    user-select: none;
    box-shadow: 0px 3px 5px 3px rgba(2, 2, 2, 0.692);
}

.mainContainer {
    margin-top: 10px;
    display: flex;
    height: calc(100vh - 80px);
    background-color: #0d0d0d;
}

.leftContainer {
    height: 100%;
    width: 66%;
    min-width: 600px;
}

.rightContainer {
    width: 34%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

#outputContainer, #turtleCanvas{
    font-family: 'Fira Mono', monospace;
    font-size: 16px;
    height: calc(50% - 20px);
    margin: 10px;
    padding: 15px;
    color: #fff;
    border: 3px solid #2e2e2e;
    border-radius: 10px;
    overflow: auto;
}

#outputContainer:hover, #turtleCanvas:hover {
    background-color: #131313;
}

/* Reference: https://www.jianshu.com/p/da5d52630f36 */
/*滚动条整体样式*/
#outputContainer::-webkit-scrollbar, #turtleCanvas::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
/*滚动条滑块*/
#outputContainer::-webkit-scrollbar-thumb, #turtleCanvas::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #797979;
}
/*滚动条轨道*/
#outputContainer::-webkit-scrollbar-track, #turtleCanvas::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
    background: #202020;
}

.error {
    font-weight: bold;
    padding: 5px;
    color: #b81c27;
}

.errorLog {
    font-weight: bold;
    padding: 5px;
    color: #ecdebd;
}

#infoBar {
    width: 30vw;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.info {
    clear: both;
    float: right;
    width: auto;
    text-align: right;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
}

.info i:hover {
    cursor: pointer;
    text-shadow: 0px 0px 3px #fff;
}

.infoErr {
    background-color: #b81c27;
}

.infoOK {
    background-color: #587c0c;
}

/* 白天模式 */
.ctlbtn.light{
    color: #000;
    background-color: #eee;
}

.ctlbtn:hover.light {
    background-color: #eee;
    color: #34d334;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.desc.light {
    background-color: #eee;
    color: #000;
}

.mainContainer.light {
   background-color: #fff;
}

#outputContainer.light, #turtleCanvas.light{
    color: #000;
    border: 3px solid #2e2e2e;
}

#outputContainer.light:hover, #turtleCanvas.light:hover {
    background-color: #eee;
}

/*滚动条整体样式*/
#outputContainer.light::-webkit-scrollbar, #turtleCanvas.light::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
/*滚动条滑块*/
#outputContainer.light::-webkit-scrollbar-thumb, #turtleCanvas.light::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #505050;
}
/*滚动条轨道*/
#outputContainer.light::-webkit-scrollbar-track, #turtleCanvas.light::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
    background: #ccc;
}

.error.light {
    padding: 5px;
    color: #ff2a38;
}

.errorLog.light {
    padding: 5px;
    color: #ffb300;
}

/* 这些样式曾导致编辑器比想象中的长 */
.monaco-editor .parameter-hints-widget {
    border: 0px;
}

.monaco-editor .parameter-hints-widget .signature {
    padding: 0px;
}

.monaco-editor .suggest-widget {
    border: 0px;
}

.monaco-editor.vs-dark .suggest-widget {
    border: 0px;
}

.monaco-editor .rename-box {
    top: 0;
}

/* 手机 */
@media screen and (orientation: portrait) {
    .mainContainer {
        flex-direction: column;
    }
    #outputContainer, #turtleCanvas {
        width: 500px;
        height: 500px;
    }
}